@config '../tailwind.config.js';
@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
	:root {
		/* latte-peach from https://github.com/catppuccin/shadcn-ui/blob/main/themes/latte/latte-peach.css */
		--radius: 0.625rem;
		--background: 220 23.08% 94.9%; /* base */
		--foreground: 234 16.02% 35.49%; /* text */
		--card: 220 23.08% 94.9%; /* base */
		--card-foreground: 234 16.02% 35.49%; /* text */
		--popover: 220 23.08% 94.9%; /* base */
		--popover-foreground: 234 16.02% 35.49%; /* text */
		--primary: 22 99.18% 51.96%; /* accent - Peach */
		--primary-foreground: 220 23.08% 94.9%; /* base */
		--secondary: 223 15.91% 82.75%; /* surface0 */
		--secondary-foreground: 234 16.02% 35.49%; /* text */
		--muted: 223 15.91% 82.75%; /* surface0 */
		--muted-foreground: 233 12.8% 41.37%; /* subtext1 */
		--accent: 223 15.91% 82.75%; /* surface0 */
		--accent-foreground: 234 16.02% 35.49%; /* text */
		--destructive: 347 86.67% 44.12%; /* red */
		--border: 225 13.56% 76.86%; /* surface1 */
		--input: 225 13.56% 76.86%; /* surface1 */
		--ring: 234 16.02% 35.49%; /* text */
		--chart-1: 345 57.65% 74.12%; /* red */
		--chart-2: 185 37.25% 70.59%; /* teal */
		--chart-3: 219 81.96% 78.43%; /* blue */
		--chart-4: 35 61.18% 76.86%; /* yellow */
		--chart-5: 113 32.94% 73.33%; /* green */
		--sidebar: 218 25.1% 93.73%; /* mantle */
		--sidebar-foreground: 234 16.02% 35.49%; /* text */
		--sidebar-primary: 22 99.18% 51.96%; /* accent - Peach */
		--sidebar-primary-foreground: 220 23.08% 94.9%; /* base */
		--sidebar-accent: 220 23.08% 94.9%; /* surface0 */
		--sidebar-accent-foreground: 234 16.02% 35.49%; /* text */
		--sidebar-border: 225 13.56% 76.86%; /* surface1 */
		--sidebar-ring: 225 13.56% 76.86%; /* surface1 */
	}

	.dark {
		/* mocha-peach from https://github.com/catppuccin/shadcn-ui/blob/main/themes/mocha/mocha-peach.css */
		--radius: 0.625rem;
		--background: 240 21.05% 14.9%; /* base */
		--foreground: 226 63.93% 88.04%; /* text */
		--card: 240 21.05% 14.9%; /* base */
		--card-foreground: 226 63.93% 88.04%; /* text */
		--popover: 240 21.05% 14.9%; /* base */
		--popover-foreground: 226 63.93% 88.04%; /* text */
		--primary: 23 92% 75.49%; /* accent - Peach */
		--primary-foreground: 240 21.05% 14.9%; /* base */
		--secondary: 237 16.24% 22.94%; /* surface0 */
		--secondary-foreground: 226 63.93% 88.04%; /* text */
		--muted: 237 16.24% 22.94%; /* surface0 */
		--muted-foreground: 227 35.29% 80%; /* subtext1 */
		--accent: 237 16.24% 22.94%; /* surface0 */
		--accent-foreground: 226 63.93% 88.04%; /* text */
		--destructive: 343 81.25% 74.9%; /* red */
		--border: 234 13.21% 31.18%; /* surface1 */
		--input: 234 13.21% 31.18%; /* surface1 */
		--ring: 226 63.93% 88.04%; /* text */
		--chart-1: 329 21.57% 37.25%; /* red */
		--chart-2: 188 18.82% 37.25%; /* teal */
		--chart-3: 221 27.45% 39.61%; /* blue */
		--chart-4: 30 9.41% 42.35%; /* yellow */
		--chart-5: 139 12.94% 38.04%; /* green */
		--sidebar: 240 21.18% 14.12%; /* mantle */
		--sidebar-foreground: 226 63.93% 88.04%; /* text */
		--sidebar-primary: 23 92% 75.49%; /* accent - Peach */
		--sidebar-primary-foreground: 240 21.05% 14.9%; /* base */
		--sidebar-accent: 240 21.05% 14.9%; /* surface0 */
		--sidebar-accent-foreground: 226 63.93% 88.04%; /* text */
		--sidebar-border: 234 13.21% 31.18%; /* surface1 */
		--sidebar-ring: 234 13.21% 31.18%; /* surface1 */
	}
}

@layer base {
	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground;
	}
}

@utility container {
	margin-inline: auto;
	padding-inline: 1rem;

	@variant sm {
		padding-inline: 2rem;
	}

	@variant lg {
		padding-inline: 4rem;
	}

	@variant xl {
		padding-inline: 5rem;
	}

	@variant 2xl {
		padding-inline: 6rem;
		max-width: 1400px;
	}
}

/* Typography. Detail: https://www.shadcn-svelte.com/docs/typography */

h1 {
	@apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl;
}

h2 {
	@apply mt-8 scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight transition-colors;
}

h3 {
	@apply mt-7 scroll-m-20 text-2xl font-semibold tracking-tight;
}

h4 {
	@apply mt-6 scroll-m-20 text-xl font-semibold tracking-tight;
}

h5 {
	@apply mt-6 scroll-m-20 text-xl font-semibold tracking-tight;
}

h6 {
	@apply mt-5 scroll-m-20 text-lg font-semibold tracking-tight;
}

p {
	@apply leading-7 [&:not(:first-child)]:mt-6;
}

blockquote {
	@apply mt-6 border-l-2 pl-6 italic;
}

ul,
ol {
	@apply list-none leading-7 [&:not(:first-child)]:mt-6;
}

.lead,
p.lead {
	@apply text-muted-foreground text-xl;
}

.large,
p.large {
	@apply text-lg font-semibold;
}

.small,
p.small {
	@apply text-sm leading-none font-medium;
}

.muted,
p.muted {
	@apply text-muted-foreground text-sm;
}

/* TODO: code block styling */
article.content {
	h1 {
		@apply mt-10 lg:mt-12;
	}

	h2 {
		/* empty */
	}

	h3 {
		/* empty */
	}

	h4 {
		/* empty */
	}

	h5 {
		/* empty */
	}

	h6 {
		/* empty */
	}

	p {
		/* empty */
	}

	a {
		@apply text-primary underline-offset-4 hover:underline;
	}

	table {
		@apply mx-auto my-6 w-fit border-collapse px-8;

		th {
			@apply border-b px-4 py-2 text-center font-semibold;
		}

		td {
			@apply border-b px-4 py-2;
		}
	}

	ul {
		@apply list-inside list-disc leading-7 [&:not(:first-child)]:mt-6;
	}

	ul ul {
		@apply mt-0! list-[circle] ps-6;
	}

	ul ul ul {
		@apply list-[square];
	}

	ol {
		@apply list-inside list-decimal leading-7 [&:not(:first-child)]:mt-6;
	}

	ol ol {
		@apply mt-0! list-[lower-alpha] ps-6;
	}

	ol ol ol {
		@apply list-[lower-roman];
	}

	pre.code {
		@apply my-6 rounded-2xl p-6;
	}
}

html.dark .shiki,
html.dark .shiki span {
	color: var(--shiki-dark) !important;
	background-color: var(--shiki-dark-bg) !important;
	/* Optional, if you also want font styles */
	font-style: var(--shiki-dark-font-style) !important;
	font-weight: var(--shiki-dark-font-weight) !important;
	text-decoration: var(--shiki-dark-text-decoration) !important;
}

/* View transition API */
.view-transition-main {
	view-transition-name: main;
}
